@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Raleway&display=swap');
@import "reset";
@import "grid";



// body {
//   font-size: 12px;
//   height: 100%;
//   font-family: 'Montserrat', sans-serif;
// }

#app {
  margin: 0 auto;
  height: 100vh;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  
  
}
.Page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.winehome {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  box-shadow: black;
  margin: 20px;
  padding: 20px;
  button {
      display: inline-flex;
      height: 40px;
      width: 150px;
      border: 1px solid #BFC0C0;
      margin: 20px 20px 20px 20px;
      color: black;
      background-color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: .8em;
      letter-spacing: 1.5px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    button:hover {
      background-color: black;
      color: white;
    }
  
}


.LandingPage {
 
  height: 100vh;
  background-image: url('https://i.imgur.com/8YtP8zn.jpg');
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;

  h1{
    font-size: 100px;
  }

  h1, button, p{
    position: relative;
    top: 35%;
  }
  button {
    font-weight: bold;
    margin-top: 30px;
    color: #f1f1f1;
    border: #f1f1f1 1px solid;
    padding: 10px 5px;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1.25rem;
    border-radius: 5px;
  }
  button:hover {
    background-color: #f1f1f1;
    color: #000000c0;
  }
  

}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #9b9b96;
  padding: 10px;
  .link{
    color: white;
  }
  .link:hover{
    text-shadow: 1px 1px 8px black;
    overflow: hidden;
  }
  
  
}

.HomePage {
  text-align: center;
  // background-size: cover;
  // background-position: 50% 29%;
  
  h2{
    font-size: 100px;
  }
  form{
    input {
      margin: 10px;
      padding: 3px;
    }
  }
  button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 1px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: black;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

}


button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 1px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

button:hover {
  background-color: black;
  color: white;
}


.AboutPage {
  position: relative;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  top: 20%;
}

.MyFavs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .winefavs{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  box-shadow: black;
  margin: 20px;
  padding: 20px;
  p{
    font-size: 20px;
  }
  
}

}

.backgroundFavs {
  background-image: url('https://i.imgur.com/ay2kzOZ.jpg');
  background-position: center;
  background-size: cover;
  height: 40vh;
  h1{
    position: relative;
    color: white;
    text-align: center;
    font-size: 60px;
    top: 40px;
  }
}

.ShowFav {
  background-image: url('https://i.imgur.com/Lt6Em48.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .favssection{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  box-shadow: black;
  margin: 20px;
  padding: 20px;
  
}

}

.updateNotes {
  background-image: url('https://i.imgur.com/Lt6Em48.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  .favssection{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  box-shadow: black;
  margin: 20px;
  padding: 20px;
  input {
    height: 40px;
    width: 100px;
  }

  button {
    width: 30%;
  }
  
  }
}

footer{
  background-color: #9b9b96;
  height: 50px;
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  ul {
    justify-content: center;
    list-style-type: none;
  }
}

#logout{
  h2{
    position: relative;
    top: 50px;
    text-align: center; 
    font-style: italic;
   }
   form{
     position: relative;
     top: 50px;
     text-align: center;
   }
   input {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 1px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: black;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  input:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}


#login{
  display: flex;
  flex-direction: column;
  h2{
    position: relative;
    top: 50px;
    text-align: center; 
    font-style: italic;
   }
   form{
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
     top: 50px;
     text-align: center;
   }
   input {
    display: inline-flex;
    height: 40px;
    width: 260px;
    border: 1px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: black;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  input:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}

#SignUp{
  display: flex;
  flex-direction: column;
  h2{
    position: relative;
    top: 50px;
    text-align: center; 
    font-style: italic;
   }
   form{
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
     top: 50px;
     text-align: center;
   }
   input {
    display: inline-flex;
    height: 40px;
    width: 260px;
    border: 1px solid #BFC0C0;
    margin: 0px 20px 20px 20px;
    color: black;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  input:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}

#winephoto {
  width: 200px;
}


// #back2Top {

//   border: solid black;
//   border-width: 0 3px 3px 0;
//   display: inline-block;
//   padding: 3px;
//   width: 10px;
//   line-height: 40px;
//   overflow: hidden;
//   z-index: 999;
//   // display: none;
//   cursor: pointer;
//   transform: rotate(-135deg);
//   // -webkit-transform: rotate(-135deg);
//   // -moz-transform: rotate(270deg);
//   // -webkit-transform: rotate(270deg);
//   // -o-transform: rotate(270deg);
//   // -ms-transform: rotate(270deg);
//   // transform: rotate(270deg);
//   position: fixed;
//   bottom: 50px;
//   right: 100px;
//   background-color: #DDD;
//   color: #555;
//   text-align: center;
//   font-size: 30px;
//   text-decoration: none;
// }
// #back2Top:hover {
//   background-color: #DDF;
//   color: #000;
// }

// .arrow {
//   border: solid black;
//   border-width: 0 10px 10px 0;
//   display: inline-block;
//   padding: 10px;
//   // width: 50px;
//   // line-height: 40px;
//   overflow: hidden;
//   z-index: 999;
//   display: none;
//   cursor: pointer;
//   position: fixed;
//   bottom: 50px;
//   right: 100px;
//   background-color: white;
//   color: #555;
//   text-align: center;
//   font-size: 30px;
//   text-decoration: none;
//   transform: rotate(-135deg);
//   -webkit-transform: rotate(-135deg);
 
// }




//MEDIA QUERIES//
@media only screen and (max-width: 736px){

  #app {
   height: 100vh;

  .Content{
    background-image: url('https://i.imgur.com/muGhj1T.jpg');
    background-size: cover;
  }
   .SubContent {
   text-align: center;
   background-image: url('https://i.imgur.com/muGhj1T.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;;
 }
  
   .Container {
     height: 100vh;
     
   }
  }


  video {
    display: none;
  }

  .HomePage {
    
    h2{
      font-size: 100px;
      display: fixed;
    position: relative;
    top: 10px;
    }
    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        margin: 10px;
        padding: 3px;
        height: 50px;
        width: 180px;
      }
      display: fixed;
    position: relative;
    top: 20px;
    }
    button {
      display: inline-flex;
      height: 40px;
      width: 150px;
      border: 1px solid #BFC0C0;
      margin: 20px 20px 20px 20px;
      color: black;
      background-color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: .8em;
      letter-spacing: 1.5px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  
  }
  
  .LandingPage {
 
    height: 100vh;
    background-image: url('https://i.imgur.com/8YtP8zn.jpg');
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
  
    h1{
      font-size: 100px;
    }
  
    h1, button, p{
      position: relative;
      top: 35%;
    }
    button {
      font-weight: bold;
      margin-top: 30px;
      color: #f1f1f1;
      border: #f1f1f1 1px solid;
      padding: 10px 5px;
      background-color: hsla(0, 0%, 0%, 0);
      font-size: 1.25rem;
      border-radius: 5px;
    }
    button:hover {
      background-color: #f1f1f1;
      color: #000000c0;
    }
    
  
  }

  .Page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .winehome {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    box-shadow: black;
    margin: 20px;
    padding: 20px;
    button {
        display: inline-flex;
        height: 40px;
        width: 150px;
        border: 1px solid #BFC0C0;
        margin: 20px 20px 20px 20px;
        color: black;
        background-color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8em;
        letter-spacing: 1.5px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
      button:hover {
        background-color: black;
        color: white;
      }
    
  }
  .MyFavs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    .winefavs{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-shadow: black;
    margin: 15px;
    padding: 20px;
    p{
      font-size: 20px;
    }
    
  }
  
  }
  .ShowFav {
    background-image: url('https://i.imgur.com/Lt6Em48.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .favssection{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    box-shadow: black;
    margin: 10px;
    padding: 20px;
    
  }
  
}
}

